@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Oswald:wght@300;400;600&display=swap");
/*
font-family: 'Oswald', sans-serif; -Titulos
font-family: 'Merriweather', serif; -Párrafos
*/

:root {
  --black: #332a2d;
  --light-blue: #aae6d8;
  --beige: #fff8e5;
  --yellow: #fac70c;
  --red: #ff6666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

p,
ol,
ul,
button,
input,
a {
  font-family: "Merriweather", serif;
}

body {
  min-height: 100vh;
  background-image: url(./Imagenes/Background.jpg);
  backdrop-filter: brightness(0.5);
  background-attachment: fixed;
  background-size: cover;
  background-position: 20%;
}

header {
  min-height: 100vh;
  background-color: #00000010;
}

main {
  padding: 0 20vh;
  background-color: #fff;
  margin-bottom: 25vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

footer {
  min-height: 20vh;
  background: rgb(250, 199, 12);
  background: linear-gradient(
    90deg,
    rgba(250, 199, 12, 1) 0%,
    rgba(254, 216, 80, 1) 100%
  );
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* Header */
.background {
  min-height: 100vh;
  background-image: url(./Imagenes/Background.jpg);
  background-size: cover;
  background-position: 15%;
  background-attachment: fixed;
  filter: brightness(0.5);
  position: absolute;
  top: 0;
  z-index: -1;
}

.header__nav {
  margin-left: 0;
}

.logo {
  width: 10rem;
}

.btn-personal {
  background: rgb(250, 199, 12);
  background: linear-gradient(
    90deg,
    rgba(250, 199, 12, 1) 0%,
    rgba(254, 216, 80, 1) 100%
  );
}

.btn-personal:hover {
  box-shadow: 0 0 5px var(--yellow);
}

.btn-personal:active {
  box-shadow: 0 0 5px var(--black) inset;
}

.header__menu {
  min-height: 20vh;
  background: rgb(250, 199, 12);
  background: linear-gradient(
    90deg,
    rgba(250, 199, 12, 1) 0%,
    rgba(254, 216, 80, 1) 100%
  );
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 25vh;
}

/* Main */
.body__404 {
  background-image: url(./Imagenes/Background_02.jpg);
  backdrop-filter: brightness(0.8);
}

.main__404 {
  background: #00000040;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__404--group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__404--h1 {
  font-size: 10rem;
  color: #fff;
  -webkit-text-stroke: 2px black;
}

.main__404--p {
  font-size: 2rem;
  color: #fff;
}

/* Footer */
.redes_sociales {
  max-width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 5px #fff;
  margin: 0 5px;
}

/* Menú */
.main__menu {
  background-color: #ffffff95;
}

.menu__cardImg--shadow:hover {
  box-shadow: 0 0 10px 5px var(--yellow);
}

/* Promociones */
.main__promociones {
  background-color: #000;
}

.promocion__carusel--font {
  font-size: 2rem;
  color: #fff;
}

/* Ustedes*/
#section__ustedes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 70.5vh;
  gap: 10px;
}

.pairCards {
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr;
  gap: 10px;
}

.bigCard {
  grid-row: 1 / span 3;
}

.mediumCard1 {
  grid-row: 1/3;
}

.smallCard1 {
  grid-row: 3/4;
}

.mediumCard2 {
  grid-row: 1/2;
}

.smallCard2 {
  grid-row: 2/4;
}

.perfil {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
  background-color: #f3f3f340;
  box-shadow: 0 0 10px #f3f3f340;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

.perfil div {
  display: flex;
  margin-bottom: 1rem;
}

.perfil div h2 {
  margin-left: 1rem;
  margin-top: 1rem;
}

.perfil img {
  width: 25%;
  height: 100%;
  border-radius: 50%;
}

/* Contacto */
.contacto__input--shadow:focus {
  box-shadow: 0 0 5px 2px var(--yellow);
}

/* Media */
@media screen and (max-width: 359px) {
  .main__404--p {
    font-size: 1.2rem;
  }

  #section__ustedes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 70.5vh;
    gap: 10px;
  }

  .pairCards {
    display: grid;
    grid-template: repeat(1, 1fr) / 1fr;
  }
}

@media screen and (max-width: 668px) {
  .main__404--p {
    font-size: 1.5rem;
  }

  #section__ustedes {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 70.5vh;
    gap: 10px;
  }

  .pairCards {
    display: grid;
    grid-template: repeat(1, 1fr) / 1fr;
  }

  .div__hidden {
    display: none;
    position: absolute;
  }
}

@media screen and (max-width: 992px) and (min-width: 668px) {
  #section__ustedes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70.5vh;
    gap: 10px;
  }

  .pairCards {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
  }

  .div__hidden {
    display: none;
    position: absolute;
  }
}
